<%#
  BLASTN ALGORITHM ADVANCED PARAMETERS
  NOTE: The markup below is displayed in a modal window.  Use less than 70
        characters per line to preserve formatting.
%>

<h5 class="text-lg py-4 font-medium">General Search Options</h5>
<ul class="list-unstyled space-y-2">
  <li>
<pre class="bg-gray-100 border rounded overflow-x-auto p-2 font-mono hover:bg-yellow-100"><%= ERB::Util.h %q|-task <String, Permissible values: 'blastn' 'blastn-short' 'dc-megablast' 'megablast' 'rmblastn'>
  Task to execute
  Default = 'megablast'|%></pre>
  </li>
  <li>
<pre class="bg-gray-100 border rounded overflow-x-auto p-2 font-mono hover:bg-yellow-100"><%= ERB::Util.h %q|-evalue <Real>
  Expectation value (E) threshold for saving hits
  Default = '10' (1000 for blastn-short)| %></pre>
  </li>
  <li>
<pre class="bg-gray-100 border rounded overflow-x-auto p-2 font-mono hover:bg-yellow-100"><%= ERB::Util.h %q|-word_size <Integer, >=2>
  Word size for wordfinder algorithm (length of best perfect match)| %></pre>
  </li>
  <li>
<pre class="bg-gray-100 border rounded overflow-x-auto p-2 font-mono hover:bg-yellow-100"><%= ERB::Util.h %q|-gapopen <Integer>
  Cost to open a gap| %></pre>
  </li>
  <li>
<pre class="bg-gray-100 border rounded overflow-x-auto p-2 font-mono hover:bg-yellow-100"><%= ERB::Util.h %q|-gapextend <Integer>
  Cost to extend a gap| %></pre>
  </li>
  <li>
<pre class="bg-gray-100 border rounded overflow-x-auto p-2 font-mono hover:bg-yellow-100"><%= ERB::Util.h %q|-penalty <Integer, <=0>
  Penalty for a nucleotide mismatch| %></pre>
  </li>
  <li>
<pre class="bg-gray-100 border rounded overflow-x-auto p-2 font-mono hover:bg-yellow-100"><%= ERB::Util.h %q|-reward <Integer, >=0>
  Reward for a nucleotide match| %></pre>
  </li>
  <li>
<pre class="bg-gray-100 border rounded overflow-x-auto p-2 font-mono hover:bg-yellow-100"><%= ERB::Util.h %q|-use_index <Boolean>
  Use MegaBLAST database index
  Default = 'false'| %></pre>
  </li>
</ul>
  <br />

<h5 class="text-lg py-4 font-medium">Formatting Options</h5>
<ul class="list-unstyled space-y-2">
   <li>
<pre class="bg-gray-100 border rounded overflow-x-auto p-2 font-mono hover:bg-yellow-100"><%= ERB::Util.h %q|-show_gis
  Show NCBI GIs in deflines?| %></pre>
  </li>
  <li>
<pre class="bg-gray-100 border rounded overflow-x-auto p-2 font-mono hover:bg-yellow-100"><%= ERB::Util.h %q|-num_descriptions <Integer, >=0>
  Number of database sequences to show one-line descriptions for
  Not applicable for outfmt > 4
  Default = '500'
  * Incompatible with:  max_target_seqs| %></pre>
  </li>
  <li>
<pre class="bg-gray-100 border rounded overflow-x-auto p-2 font-mono hover:bg-yellow-100"><%= ERB::Util.h %q| -num_alignments <Integer, >=0>
  Number of database sequences to show alignments for
  Default = '250'
  * Incompatible with:  max_target_seqs| %></pre>
  </li>
  <li>
<pre class="bg-gray-100 border rounded overflow-x-auto p-2 font-mono hover:bg-yellow-100"><%= ERB::Util.h %q| -line_length <Integer, >=1>
  Line length for formatting alignments
  Not applicable for outfmt > 4
  Default = '60'| %></pre>
  </li>
</ul>

<br/>

<h5 class="text-lg py-4 font-medium">Query filtering options</h5>
<ul class="list-unstyled space-y-2">
  <li>
<pre class="bg-gray-100 border rounded overflow-x-auto p-2 font-mono hover:bg-yellow-100"><%= ERB::Util.h %q|-dust <String>
  Filter query sequence with DUST (Format: 'yes', 'level window linker', or
   'no' to disable)
  Default = '20 64 1' ('no' for blastn-short)| %></pre>
  </li>
  <li>
<pre class="bg-gray-100 border rounded overflow-x-auto p-2 font-mono hover:bg-yellow-100"><%= ERB::Util.h %q|-soft_masking <Boolean>
  Apply filtering locations as soft masks
  Default = 'true'| %></pre>
  </li>
  <li>
<pre class="bg-gray-100 border rounded overflow-x-auto p-2 font-mono hover:bg-yellow-100"><%= ERB::Util.h %q|-lcase_masking
  Use lower case filtering in query and subject sequence(s)?| %></pre>
  </li>
</ul>

<br/>

<h5 class="text-lg py-4 font-medium">Restrict search or results</h5>
<ul class="list-unstyled space-y-2">
  <li>
<pre class="bg-gray-100 border rounded overflow-x-auto p-2 font-mono hover:bg-yellow-100"><%= ERB::Util.h %q|-gilist <String>
  Restrict search of database to list of GIs
  * Incompatible with:  seqidlist, taxids, taxidlist, negative_gilist,
   negative_seqidlist, negative_taxids, negative_taxidlist, remote, subject,
   subject_loc| %></pre>
  </li>
  <li>
<pre class="bg-gray-100 border rounded overflow-x-auto p-2 font-mono hover:bg-yellow-100"><%= ERB::Util.h %q|-seqidlist <String>
  Restrict search of database to list of SeqIDs
  * Incompatible with:  gilist, taxids, taxidlist, negative_gilist,
   negative_seqidlist, negative_taxids, negative_taxidlist, remote, subject,
   subject_loc| %></pre>
  </li>
  <li>
<pre class="bg-gray-100 border rounded overflow-x-auto p-2 font-mono hover:bg-yellow-100"><%= ERB::Util.h %q|-negative_gilist <String>
  Restrict search of database to everything except the specified GIs
  * Incompatible with:  gilist, seqidlist, taxids, taxidlist,
   negative_seqidlist, negative_taxids, negative_taxidlist, remote, subject,
   subject_loc| %></pre>
  </li>
  <li>
<pre class="bg-gray-100 border rounded overflow-x-auto p-2 font-mono hover:bg-yellow-100"><%= ERB::Util.h %q|-negative_seqidlist <String>
  Restrict search of database to everything except the specified SeqIDs
  * Incompatible with:  gilist, seqidlist, taxids, taxidlist,
   negative_gilist, negative_taxids, negative_taxidlist, remote, subject,
   subject_loc| %></pre>
  </li>
  <li>
  <li>
<pre class="bg-gray-100 border rounded overflow-x-auto p-2 font-mono hover:bg-yellow-100"><%= ERB::Util.h %q|-taxids <String>
  Restrict search of database to include only the specified taxonomy IDs (multiple IDs delimited by ',')
  * Incompatible with:  gilist, seqidlist, taxidlist, negative_gilist,
   negative_seqidlist, negative_taxids, negative_taxidlist, remote, subject,
   subject_loc| %></pre>
  </li>
  <li>
<pre class="bg-gray-100 border rounded overflow-x-auto p-2 font-mono hover:bg-yellow-100"><%= ERB::Util.h %q|-negative_taxids <String>
  Restrict search of database to everything except the specified taxonomy IDs (multiple IDs delimited by ',')
  * Incompatible with:  gilist, seqidlist, taxids, taxidlist,
   negative_gilist, negative_seqidlist, negative_taxidlist, remote, subject,
   subject_loc| %></pre>
  </li>
  <li>
<pre class="bg-gray-100 border rounded overflow-x-auto p-2 font-mono hover:bg-yellow-100"><%= ERB::Util.h %q|-taxidlist <String>
  Restrict search of database to include only the specified taxonomy IDs
  * Incompatible with:  gilist, seqidlist, taxids, negative_gilist,
   negative_seqidlist, negative_taxids, negative_taxidlist, remote, subject,
   subject_loc| %></pre>
  </li>
  <li>
<pre class="bg-gray-100 border rounded overflow-x-auto p-2 font-mono hover:bg-yellow-100"><%= ERB::Util.h %q|-negative_taxidlist <String>
  Restrict search of database to everything except the specified taxonomy IDs
  * Incompatible with:  gilist, seqidlist, taxids, taxidlist,
   negative_gilist, negative_seqidlist, negative_taxids, remote, subject,
   subject_loc| %></pre>
  </li>
  <li>
<pre class="bg-gray-100 border rounded overflow-x-auto p-2 font-mono hover:bg-yellow-100"><%= ERB::Util.h %q|-entrez_query <String>
  Restrict search with the given Entrez query
  * Requires:  remote| %></pre>
  </li>
  <li>
<pre class="bg-gray-100 border rounded overflow-x-auto p-2 font-mono hover:bg-yellow-100"><%= ERB::Util.h %q|-db_soft_mask <String>
  Filtering algorithm ID to apply to the BLAST database as soft masking
  * Incompatible with:  db_hard_mask, subject, subject_loc| %></pre>
  </li>
  <li>
<pre class="bg-gray-100 border rounded overflow-x-auto p-2 font-mono hover:bg-yellow-100"><%= ERB::Util.h %q|-db_hard_mask <String>
  Filtering algorithm ID to apply to the BLAST database as hard masking
  * Incompatible with:  db_soft_mask, subject, subject_loc| %></pre>
  </li>
  <li>
<pre class="bg-gray-100 border rounded overflow-x-auto p-2 font-mono hover:bg-yellow-100"><%= ERB::Util.h %q|-perc_identity <Real, 0..100>
  Percent identity| %></pre>
  </li>
  <li>
<pre class="bg-gray-100 border rounded overflow-x-auto p-2 font-mono hover:bg-yellow-100"><%= ERB::Util.h %q|-qcov_hsp_perc <Real, 0..100>
  Percent query coverage per hsp| %></pre>
  </li>
  <li>
<pre class="bg-gray-100 border rounded overflow-x-auto p-2 font-mono hover:bg-yellow-100"><%= ERB::Util.h %q|-max_hsps <Integer, >=1>
  Set maximum number of HSPs per subject sequence to save for each query| %></pre>
  </li>
  <li>
<pre class="bg-gray-100 border rounded overflow-x-auto p-2 font-mono hover:bg-yellow-100"><%= ERB::Util.h %q|-culling_limit <Integer, >=0>
  If the query range of a hit is enveloped by that of at least this
  many higher-scoring hits, delete the hit
  * Incompatible with:  best_hit_overhang, best_hit_score_edge| %></pre>
  </li>
  <li>
<pre class="bg-gray-100 border rounded overflow-x-auto p-2 font-mono hover:bg-yellow-100"><%= ERB::Util.h %q|-best_hit_overhang <Real, (>0 and <0.5)>
  Best Hit algorithm overhang value (recommended value: 0.1)
  * Incompatible with:  culling_limit| %></pre>
  </li>
  <li>
<pre class="bg-gray-100 border rounded overflow-x-auto p-2 font-mono hover:bg-yellow-100"><%= ERB::Util.h %q|-best_hit_score_edge <Real, (>0 and <0.5)>
  Best Hit algorithm score edge value (recommended value: 0.1)
  * Incompatible with:  culling_limit| %></pre>
  </li>
  <li>
<pre class="bg-gray-100 border rounded overflow-x-auto p-2 font-mono hover:bg-yellow-100"><%= ERB::Util.h %q|-subject_besthit
  Turn on best hit per subject sequence| %></pre>
  </li>
  <li>
<pre class="bg-gray-100 border rounded overflow-x-auto p-2 font-mono hover:bg-yellow-100"><%= ERB::Util.h %q|-max_target_seqs <Integer, >=1>
  Maximum number of aligned sequences to keep (value of 5 or more is recommended)
  Default = '500'
  * Incompatible with:  num_descriptions, num_alignments| %></pre>
  </li>
</ul>

<br/>

<h5 class="text-lg py-4 font-medium">Discontiguous MegaBLAST options</h5>
<ul class="list-unstyled space-y-2">
  <li>
<pre class="bg-gray-100 border rounded overflow-x-auto p-2 font-mono hover:bg-yellow-100"><%= ERB::Util.h %q|-template_type <String, `coding', `coding_and_optimal', `optimal'>
  Discontiguous MegaBLAST template type
  * Requires:  template_length| %></pre>
  </li>
  <li>
<pre class="bg-gray-100 border rounded overflow-x-auto p-2 font-mono hover:bg-yellow-100"><%= ERB::Util.h %q|-template_length <Integer, Permissible values: '16' '18' '21' >
  Discontiguous MegaBLAST template length
  * Requires:  template_type| %></pre>
  </li>

</ul>

<br/>

<h5 class="text-lg py-4 font-medium">Statistical options</h5>
<ul class="list-unstyled space-y-2">
  <li>
<pre class="bg-gray-100 border rounded overflow-x-auto p-2 font-mono hover:bg-yellow-100"><%= ERB::Util.h %q|-dbsize <Int8>
  Effective length of the database| %></pre>
  </li>
  <li>
<pre class="bg-gray-100 border rounded overflow-x-auto p-2 font-mono hover:bg-yellow-100"><%= ERB::Util.h %q|-searchsp <Int8, >=0>
  Effective length of the search space| %></pre>
  </li>
</ul>

<br/>

<h5 class="text-lg py-4 font-medium">Extension options</h5>
<ul class="list-unstyled space-y-2">
  <li>
<pre class="bg-gray-100 border rounded overflow-x-auto p-2 font-mono hover:bg-yellow-100"><%= ERB::Util.h %q|-xdrop_ungap <Real>
  X-dropoff value (in bits) for ungapped extensions| %></pre>
  </li>
  <li>
<pre class="bg-gray-100 border rounded overflow-x-auto p-2 font-mono hover:bg-yellow-100"><%= ERB::Util.h %q|-xdrop_gap <Real>
  X-dropoff value (in bits) for preliminary gapped extensions| %></pre>
  </li>
  <li>
<pre class="bg-gray-100 border rounded overflow-x-auto p-2 font-mono hover:bg-yellow-100"><%= ERB::Util.h %q|-xdrop_gap_final <Real>
  X-dropoff value (in bits) for final gapped alignment| %></pre>
  </li>
  <li>
<pre class="bg-gray-100 border rounded overflow-x-auto p-2 font-mono hover:bg-yellow-100"><%= ERB::Util.h %q|-no_greedy
  Use non-greedy dynamic programming extension| %></pre>
  </li>
  <li>
<pre class="bg-gray-100 border rounded overflow-x-auto p-2 font-mono hover:bg-yellow-100"><%= ERB::Util.h %q|-min_raw_gapped_score <Integer>
  Minimum raw gapped score to keep an alignment in the preliminary gapped and
   traceback stages| %></pre>
  </li>
  <li>
<pre class="bg-gray-100 border rounded overflow-x-auto p-2 font-mono hover:bg-yellow-100"><%= ERB::Util.h %q|-ungapped
  Perform ungapped alignment only?| %></pre>
  </li>
  <li>
<pre class="bg-gray-100 border rounded overflow-x-auto p-2 font-mono hover:bg-yellow-100"><%= ERB::Util.h %q|-window_size <Integer, >=0>
  Multiple hits window size, use 0 to specify 1-hit algorithm| %></pre>
  </li>
  <li>
<pre class="bg-gray-100 border rounded overflow-x-auto p-2 font-mono hover:bg-yellow-100"><%= ERB::Util.h %q|-off_diagonal_range <Integer, >=0>
  Number of off-diagonals to search for the 2nd hit, use 0 to turn off
  Default = `0'| %></pre>
  </li>

</ul>
<br/>

<h5 class="text-lg py-4 font-medium">Miscellaneous options</h5>
<ul class="list-unstyled space-y-2">
  <li>
<pre class="bg-gray-100 border rounded overflow-x-auto p-2 font-mono hover:bg-yellow-100"><%= ERB::Util.h %q|-parse_deflines <Real>
  Should the query and subject defline(s) be parsed?| %></pre>
  </li>

</ul>
