<div class="databases-container">

  <%# sort => same ordering of nucleotide and protein datbases %>
  <% databases.keys.sort.each do |type| %>

      <div class="box databases <%= type %>">
        <fieldset>
          <legend><%= type %> databases</legend>
          <div class="controls offset-left">
            <% databases[type].sort.each do |database| %>
              <label class="checkbox">
                <input type="checkbox" name="databases[]" value="<%=database.hash%>" data-type="<%=database.type%>" />
                <span> <%= database.title or database.name %></span>
              </label>
            <% end %>
          </div>
        </fieldset>
      </div>
  <% end %>
</div>
