<div
  class="modal-dialog modal-lg">
  <div
    class="modal-content">
    <div
      class="modal-header">
      <h3>View and download FASTA sequence(s)</h3>
    </div>

    <div
      class="modal-body">
      <%# check if we found right number of sequences %>
      <% if sequences.length != sequence_ids.length %>
        <h4>
          ERROR: incorrect number of sequences found.
        </h4>

        <p>
          Dear user,
        </p>

        <p>
          <strong>We have found
            <em>
              <%= sequences.length > sequence_ids.length ? 'more' : 'less' %>
            </em>
            sequences than expected.
          </strong>
        </p>

        <p>
          This is likely due to a problem with how databases are formatted.
          <strong>
            Please share this text with the person managing this website so
            they can resolve the issue.
          </strong>
        </p>

        <p>
          You requested <%= sequence_ids.length %>
          sequence<%= sequence_ids.length > 1 ? 's' : '' %>
          with the following identifiers:
          <br>
          <code>
            <%= sequence_ids.join(', ') %>
          </code>,
          <br>
          from the following databases:
          <br>
          <code>
            <%= database_ids.join(', ') %>
          </code>.
          <br>
          But we found <%= sequences.length %>
          sequence<%= sequences.length> 1 ? 's' : ''%>.
        </p>

        <p>
          If sequences were retrieved, you can find them below (but some may be
          incorrect, so be careful!).
        </p>

        <hr/>
      <% end %>

      <% sequences.each do |sequence| %>
        <div
          class="fastan">
          <div
            class="page-header">
            <div
              class="row">
              <div
                class="col-md-10">
                <h4>
                  <%= sequence.accession %>
                  <small>
                    <%= sequence.title %>
                  </small>
                </h4>
              </div>
              <div
                class="col-md-2 checkbox text-right">
                <label>
                  <input type="checkbox" class="hits-box"
                  value=<%="#{ sequence.accession }"%>>Select</input>
                </label>
              </div>
            </div>
          </div>
          <pre
            class="pre-scrollable">
<%= sequence.genbank %>
          </pre>
        </div>
      <% end %>
    </div>

    <div
      class="modal-footer">
      <a
        class="btn btn-default fasta-download" href=""
        <%= "disabled='true'" if sequences.length < 1 %>
        data-databases=<%="#{ database_ids.join(' ') }"%> >
        <i class="fa fa-download"></i>
        <%= "#{sequences.length <= 1 ? 'Download' : 'Download all'}" %>
      </a>
    </div>
  </div>
</div>
