<div
  class="row">
  <div
    class="<%= (report.queries.length == 1 && report.queries.first.hits.empty?) ? 'col-md-12' : 'col-md-9 main' %>">
    <% report.queries.each_with_index do |query, q| %>
      <div
        class="resultn" id="<%="Query_#{query.number}"%>"
        data-query-len="<%= query.length %>" data-graphit-target="hsps"
        data-graphit="overview" data-hit-count="<%= query.hits.count %>">
        <div
          class="page-header">
          <h3>
            Query= <%= query.id %>
            <small>
              <%= query.title %>
            </small>
          </h3>
          <span
            class="label label-reset pos-label"
            title="<%= "Query #{query.number}." %>"
            data-toggle="tooltip">
            <%= "#{query.number} / #{report.queries.length}"%>
          </span>
        </div>

        <div
          class="page-content">
          <% if query.hits.empty? %>
            <p>
              Query length: <%= query.length %>
            </p>
            <br>
            <br>
            <p>
              <strong> <%= "****** No hits found ******" %> </strong>
            </p>
          <% else %>
            <table
              class="table table-hover table-condensed tabular-view">
              <thead>
                <th class="text-left"> Number </th>
                <th>Sequences producing significant alignments</th>
                <th class="text-right"> Total score </th>
                <th class="text-right"> E value </th>
                <th class="text-right"> Length </th>
              </thead>
              <tbody>
              <% query.hits.each_with_index do |hit, h| %>
                <tr>
                  <td class="text-left"><%= h + 1 %>.</td>
                  <td> <a href="<%="#Query_#{query.number}_hit_#{hit.number}"%>"><%= "#{hit.id}" %></a> </td>
                  <td class="text-right"><%= prettify hit.score  %></td>
                  <td class="text-right"><%= prettify hit.evalue %></td>
                  <td class="text-right"><%= prettify hit.length %></td>
                </tr>
              <% end %>
              </tbody>
            </table>
            <% query.hits.each do |hit| %>
              <div
                class="hitn" id="<%="Query_#{query.number}_hit_#{hit.number}"%>"
                data-hit-def="<%= hit.id %>" data-hit-evalue="<%= hit.evalue %>"
                data-hit-len="<%= hit.length %>">
                <div
                  class="page-header">
                  <h4
                    data-toggle="collapse" data-target="#<%= "Query_#{query.number}_hit_#{hit.number}_alignment" %>">
                    <i class="fa fa-chevron-down"> </i>
                    <span>
                      <%= hit.id %>
                      <small>
                        <%= hit.title %>
                      </small>
                    </span>
                  </h4>
                  <span
                    class="label label-reset pos-label"
                    title="<%= "Query #{query.number}. Hit #{hit.number} of #{query.hits.length}." %>"
                    data-toggle="tooltip">
                    <%= "#{hit.number} / #{query.hits.length}"%>
                  </span>
                </div>

                <div
                  class="page-content collapse in"
                  id="<%="Query_#{query.number}_hit_#{hit.number}_alignment"%>">
                  <div
                    class="row">
                    <div
                      class="col-md-4">
                      Hit length: <%= hit.length %>
                    </div>
                    <div
                      class="hit-links text-right col-md-8">
                      <label>
                        <input
                        type="checkbox" value="<%= hit.accession %>" data-target="<%= "#Query_#{query.number}_hit_#{hit.number}" %>">
                        Select
                      </label>
                      <% hit.links.each do |link| %>
                        | <%= a link %>
                      <% end %>
                    </div>
                  </div>
                  <table
                    class="table hsps">
                    <tbody>
                      <% hit.hsps.each do |hsp| %>
                        <tr>
                          <td>
                            <%= hsp.number %>.
                          </td>
                          <td
                            style="width: 100%;">
                            <div
                              class="hsp" id="<%="Query_#{query.number}_hit_#{hit.number}_#{hsp.number}"%>"
                              data-hsp-evalue="<%= hsp.evalue %>" data-hsp-start="<%= hsp.qstart %>"
                              data-hsp-end="<%= hsp.qend %>" data-hsp-frame="<%= hsp.sframe %>">
                              <table
                                class="table table-condensed hsp-stats">
                                <thead>
                                  <% hsp.stats.keys.each do |key| %>
                                    <th>
                                      <%= key %>
                                    </th>
                                  <% end %>
                                </thead>
                                <tbody>
                                  <tr>
                                    <% hsp.stats.values.each do |value| %>
                                      <td>
                                        <%= prettify value %>
                                      </th>
                                    <% end %>
                                  </tr>
                                </tbody>
                              </table>
                              <div class="alignment"><%= hsp.pp %></div>
                            </div>
                          </td>
                        </tr>
                      <% end %>
                    </tbody>
                  </table>
                </div>
              </div>
            <% end %>
          <% end %>
        </div>
      </div>
    <% end %>

    <hr>

    <div
      class="report-statistics">
<%= report.program_version %>
<br>
Databases queried:
<% report.querydb.each do |db| %>
  <%= "#{db.title}\n    #{db.nsequences} sequences, #{db.ncharacters} letters\n    created/updated on - #{db.updated_on}" %>
<% end %>

Total sequences in queried databases: <%= report.stats[:nsequences] %>
Total letters in queried databases: <%= report.stats[:ncharacters] %>
    </div>
  </div>

  <% unless report.queries.length == 1 && report.queries.first.hits.empty? %>
    <div
      class="side col-md-3 hidden-xs hidden-sm">
      <div
        class="sidebar">
        <div
          class="page-header">
          <h4>
            <%= report.program.upcase %>:
            <%= report.queries.length %> <%= report.queries.length > 1 ? 'queries' : 'query' %>,
            <%= report.querydb.length %> <%= report.querydb.length > 1 ? 'databases' : 'database' %>
          </h4>
        </div>
        <ul
          class="nav hover-reset active-bold index">
          <% report.queries.each do |query| %>
            <li>
              <a
                class="nowrap-ellipsis hover-bold"
                href="<%="#Query_#{query.number}"%>"
                title="<%= "Query= #{query.id}" %>">
                <%= "Query= #{query.id}" %>
              </a>
            </li>
          <% end %>
        </ul>

        <br>
        <br>

        <div
          class="page-header">
          <h4>
            Download FASTA, XML, TSV
          </h4>
        </div>
        <ul
          class="downloads list-unstyled list-padded">
          <li>
            <a
              class="download download-fasta-of-all disabled"
              data-databases="<%= report.querydb.map(&:id).join(' ') %>">
              FASTA of all hits
            </a>
          </li>
          <li>
            <a
              class="download download-fasta-of-selected disabled"
              data-databases="<%= report.querydb.map(&:id).join(' ') %>">
              FASTA of <span class="text-bold"></span> selected hit(s)
            </a>
          </li>
          <li>
            <a
              class="download"
              title="12 columns: query and subject ID; alignment length,
              mismatches, gaps, identity, start and end coordinates,
              e value and bitscore."
              data-toggle="tooltip"
              href="download/<%= report.search_id %>.std_tsv">
              Standard tabular report
            </a>
          </li>
          <li>
            <a
              class="download"
              title="44 columns: query and subject ID, GI, accessions,
              and length; alignment details; taxonomy details of subject
              sequence(s) and query coverage per subject and per HSP."
              data-toggle="tooltip"
              href="download/<%= report.search_id %>.full_tsv">
              Full tabular report
            </a>
          </li>
          <li>
            <a
              class="download"
              title="Results in XML format."
              data-toggle="tooltip"
              href="download/<%= report.search_id %>.xml">
              Full XML report
            </a>
          </li>
        </ul>
      </div>
    </div>
  <% end %>
</div>
