<div
  class="page-header">
  <h2>Results</h2>
</div>

<div
  class="row">
  <div
    class="col-md-3 index-container">
    <ul
      class="nav nav-stacked index">
      <% result.each do |query| %>
        <li>
          <a
            href="<%="#Query_#{query.number}"%>">
            Query= <%= query.id %>
          </a>
        </li>
      <% end %>
    </ul>
  </div>

  <div
    class="col-md-9 result-container">
    <% result.each do |query| %>
      <div
          class="resultn" id="<%="Query_#{query.number}"%>" data-query-len="<%= query.len %>"
          data-graphit="overview">
        <div
          class="page-header">
          <h3>
            Query= <%= query.id %>
            <small>
              <%= query.meta %>
            </small>
          </h3>
        </div>

        <div
          class="page-content">
          <p
            class="text-monospace">
            Query length: <%= query.len %>, Number of Hit(s): <%= query.hits.count %>
          </p>
          <% if query.hits.empty? %>
            <br>
            <br>
            <p
              class="text-monospace">
              <strong> <%= "****** No hits found ******" %> </strong>
            </p>
          <% else %>
            <div
              class="tabular-view text-monospace">
              <div class="row">
                <div class="col-md-7">
                  <p> Sequences producing significant alignments: </p>
                </div>
                <div class="col-md-2 text-right"> Total Score </div>
                <div class="col-md-3 text-right"> E value </div>
              </div>
              <% query.hits.each do |hit| %>
                <div class="row">
                  <div class="col-md-7"> <%= "#{hit.id}" %> </div>
                  <div
                    class="col-md-2 text-right">
                    <a href="<%="#Query_#{query.number}_hit_#{hit.number}"%>">
                      <%= "#{hit.total_score.round(2)}" %>
                    </a>
                  </div>
                  <div class="col-md-3 text-right"> <%= hit.evalue.to_s.sub(/(\d*\.\d*)e?([+-]\d*)?/) {|l| s = '%.3f' % $1; s << " x 10<sup>#{$2}</sup>" if $2; s} %> </div>
                </div>
              <% end %>
            </div>
            <% query.hits.each do |hit| %>
              <div
                class="hitn" id="<%="Query_#{query.number}_hit_#{hit.number}"%>">
                <div
                  class="page-header">
                  <h4
                    data-toggle="collapse" data-target="#<%= "Query_#{query.number}_hit_#{hit.number}_alignment" %>">
                    <%= hit.id %>
                    <small>
                      <%= hit.def %>
                    </small>
                  </h4>
                </div>

                <div
                  class="page-content text-monospace collapse in"
                  id="<%="Query_#{query.number}_hit_#{hit.number}_alignment"%>">
                  Hit length: <%= hit.length %>
                  Number of HSP(s): <%= hit.hsps.length %>
                  <br>
                  <br>
                  <% hit.hsps.each do |hsp| %>
                  <div
                      class="hsps" id="<%="Query_#{query.number}_hit_#{hit.number}_#{hsp.number}"%>"
                      data-hsp-evalue="<%= hsp.evalue %>" data-hsp-start="<%= hsp.qstart %>"
                      data-hsp-end="<%= hsp.qend %>" data-hsp-frame="<%= hsp.hframe %>">
                      <div class="row">
                        <div class="col-md-2"> Score </div>
                        <div class="col-md-2"> Expect </div>
                        <div class="col-md-2"> Identities </div>
                        <div class="col-md-2"> Positives </div>
                        <div class="col-md-2"> Gaps </div>
                        <div class="col-md-2"> Strand </div>
                      </div>
                      <div class="row">
                        <div class="col-md-2"> <%= hsp.bit_score %> (<%= hsp.score %>)</div>
                        <div class="col-md-2"> <%= hsp.evalue %></div>
                        <div class="col-md-2"> <%= hsp.identity%>/<%= hsp.len %></div>
                        <div class="col-md-2"> <%= hsp.positives %>/<%= hsp.len %></div>
                        <div class="col-md-2"> <%= hsp.gaps %>/<%= hsp.len %></div>
                        <div class="col-md-2"> (<%= hsp.qframe>0?"Plus":"Minus"%>/<%= hsp.hframe>0?"Plus":"Minus"%>)</div>
                      </div>
                      <br>
                      <% if hsp.len > 60 %>
                        <% 0.upto(hsp.len.div(61)) do |x| %>
                          <div class="row alignment">
                            <div class="col-md-1"> Query </div>
                            <div class="col-md-1"> <%= hsp.qstart+60*x %> </div>
                            <div class="col-md-9"> <%= hsp.qseq[60*x,60] %> </div>
                            <div class="col-md-1"> <%= hsp.qstart+60*(x+1)-1 %> </div>
                          </div>
                          <div class="row alignment">
                            <div class="col-md-1"></div>
                            <div class="col-md-1"></div>
                            <div class="col-md-9"> <%= hsp.midline[60*x, 60] %></div>
                            <div class="col-md-1"></div>
                          </div>
                          <div class="row alignment">
                            <div class="col-md-1"> Subject </div>
                            <% if hsp.hframe > 0 %>
                              <div class="col-md-1"> <%= hsp.start+60*x %> </div>
                              <div class="col-md-9"> <%= hsp.hseq[60*x, 60] %> </div>
                              <div class="col-md-1"> <%= hsp.start+60*(x+1)-1 %> </div>
                            <% else %>
                              <div class="col-md-1"> <%= hsp.start+60*x %> </div>
                              <div class="col-md-9"> <%= hsp.hseq[60*x, 60] %> </div>
                              <div class="col-md-1"> <%= hsp.start-60*(x+1)+1 %> </div>
                            <% end %>
                          </div>
                          <br>
                        <% end %>
                      <% else %>
                        <div class="row alignment">
                          <div class="col-md-1"> Query </div>
                          <div class="col-md-1"> <%= hsp.qstart %> </div>
                          <div class="col-md-9"> <%= hsp.qseq %> </div>
                          <div class="col-md-1"> <%= hsp.qend %> </div>
                        </div>
                        <div class="row alignment">
                          <div class="col-md-1"></div>
                          <div class="col-md-1"></div>
                          <div class="col-md-9"> <%= hsp.midline %></div>
                          <div class="col-md-1"></div>
                        </div>
                        <div class="row alignment">
                          <div class="col-md-1"> Subject </div>
                          <div class="col-md-1"> <%= hsp.start %> </div>
                          <div class="col-md-9"> <%= hsp.hseq %> </div>
                          <div class="col-md-1"> <%= hsp.send %> </div>
                        </div>
                      <% end %>
                      <br><br>
                    </div>
                    <% end %>
                </div>
              </div>
            <% end %>
          <% end %>
          <br>
          <br>
          <p
            class="text-monospace">
            Lambda:  <%= query.stats["Statistics_lambda"] %>
            <br>
            Kappa:   <%= query.stats["Statistics_kappa"] %>
            <br>
            Entropy: <%= query.stats["Statistics_entropy"] %>
            <br>
            Effective search space used: <%= query.stats["Statistics_eff-space"] %>
            <br>
            Databases: <%= dbs.split.map{|db| File.basename(db)}.join(', ') %>
          </p>
        </div>
      </div>
    <% end %>
  </div>
</div>
