<div
  class="page-header">
  <h2>Results</h2>
</div>

<div
  class="row">
  <div
    class="col-md-3">
    <ul
      class="nav nav-stacked index">
      <% report.queries.each do |query| %>
        <li>
          <a
            href="<%="#Query_#{query.number}"%>"
            title="<%= "Query= #{query.id}" %>">
            <%= "Query= #{query.id}"[0, 30] + (query.id.length > 30 ? ' ...' : '')%>
          </a>
        </li>
      <% end %>
    </ul>
  </div>

  <div
    class="col-md-9">
    <% report.queries.each do |query| %>
      <div
          class="resultn" id="<%="Query_#{query.number}"%>" data-query-len="<%= query.len %>"
          data-graphit="overview" data-hit-count="<%= query.hits.count %>">
        <div
          class="page-header">
          <div
            class="row">
            <div
              class="col-md-10">
              <h3>
                Query= <%= query.id %>
                <small>
                  <%= query.meta %>
                </small>
              </h3>
            </div>
            <div
              class="col-md-2 text-right">
              <a
                href="<%= "/get_sequence/?sequence_ids=#{query.hits.map(&:id).join(' ')}&database_ids=#{database_ids.join(' ')}" %>"
                class="link-fasta link-fasta-query">
                [FASTA]
              </a>
            </div>
          </div>
        </div>

        <div
          class="page-content">
          <p
            class="text-monospace">
            Query length: <%= query.len %>, Number of Hit(s): <%= query.hits.count %>
          </p>
          <% if query.hits.empty? %>
            <br>
            <br>
            <p
              class="text-monospace">
              <strong> <%= "****** No hits found ******" %> </strong>
            </p>
          <% else %>
            <table
              class="table table-hover table-condensed text-monospace">
              <thead>
                <th>Sequences producing significant alignments</th>
                <th class="text-right"> Total Score </th>
                <th class="text-right"> E value </th>
              </thead>
              <tbody>
              <% query.hits.each do |hit| %>
                <tr>
                  <td> <a href="<%="#Query_#{query.number}_hit_#{hit.number}"%>"><%= "#{hit.id}" %></a> </td>
                  <td class="text-right"><%= '%.2f' % hit.score %></td>
                  <td class="text-right"><%= hit.evalue.to_s.sub(/(\d*\.\d*)e?([+-]\d*)?/) {|l| s = '%.3f' % $1; s << " x 10<sup>#{$2}</sup>" if $2; s} %></td>
                </tr>
              <% end %>
              </tbody>
            </table>
            <% query.hits.each do |hit| %>
              <div
                  class="hitn" id="<%="Query_#{query.number}_hit_#{hit.number}"%>"
                  data-hit-def="<%= hit.id %>" data-hit-evalue="<%= hit.evalue %>">
                <div
                  class="page-header">
                  <div
                    class="row">
                    <div
                      class="col-md-10">
                      <h4
                        data-toggle="collapse" data-target="#<%= "Query_#{query.number}_hit_#{hit.number}_alignment" %>">
                        <%= hit.id %>
                        <small>
                          <%= hit.def %>
                        </small>
                      </h4>
                    </div>
                    <div
                      class="col-md-2 text-right">
                      <a
                        href="<%= "/get_sequence/?sequence_ids=#{hit.id}&database_ids=#{database_ids.join(' ')}" %>"
                        class="link-fasta link-fasta-hit">
                        [FASTA]
                      </a>
                    </div>
                  </div>
                </div>

                <div
                  class="page-content text-monospace collapse in"
                  id="<%="Query_#{query.number}_hit_#{hit.number}_alignment"%>">
                  Hit length: <%= hit.length %>
                  Number of HSP(s): <%= hit.hsps.length %>
                  <br>
                  <br>
                  <% hit.hsps.each do |hsp| %>
                  <div
                      class="hsps" id="<%="Query_#{query.number}_hit_#{hit.number}_#{hsp.number}"%>"
                      data-hsp-evalue="<%= hsp.evalue %>" data-hsp-start="<%= hsp.qstart %>"
                      data-hsp-end="<%= hsp.qend %>" data-hsp-frame="<%= hsp.hframe %>">
                      <table class="table-hsp">
                        <thead>
                          <th> Score </th>
                          <th> Expect </th>
                          <th> Identities </th>
                          <th> Positives </th>
                          <th> Gaps </th>
                          <th> Frame </th>
                        </thead>
                        <tbody>
                          <tr>
                            <td> <%= '%.2f' % hsp.bit_score %> (<%= hsp.score %>)</td>
                            <td> <%= hsp.evalue.to_s.sub(/(\d*\.\d*)e?([+-]\d*)?/) {|l| s = '%.3f' % $1; s << " x 10<sup>#{$2}</sup>" if $2; s} %></td>
                            <td> <%= "#{hsp.identity_fraction} (#{'%.2f%' % hsp.identity_percentage})" %></td>
                            <td> <%= "#{hsp.positives_fraction} (#{'%.2f%' % hsp.positives_percentage})" %></td>
                            <td> <%= "#{hsp.gaps_fraction} (#{'%.2f%' % hsp.gaps_percentage})" %></td>
                            <td> (<%= hsp.qframe %>/<%= hsp.hframe %>)</td>
                          </tr>
                          </tbody>
                      </table>
                      <br>
                      <% if hsp.len > 60 %>
                        <% 0.upto(hsp.len.div(61)) do |x| %>
                          <div class="row alignment">
                            <div class="col-md-1"> Query </div>
                            <div class="col-md-1 text-right"> <%= hsp.qstart+60*x %> </div>
                            <div class="col-md-8"> <%= hsp.qseq[60*x,60] %> </div>
                            <div class="col-md-1 text-right"> <%= hsp.qstart+60*(x+1)-1 > hsp.qend ? hsp.qend : hsp.qstart+60*(x+1)-1 %> </div>
                          </div>
                          <div class="row alignment">
                            <div class="col-md-1"></div>
                            <div class="col-md-1"></div>
                            <div class="col-md-8"> <%= hsp.midline[60*x, 60] %></div>
                            <div class="col-md-1 text-right"></div>
                          </div>
                          <div class="row alignment">
                            <div class="col-md-1"> Subject </div>
                            <% if hsp.hframe > 0 %>
                              <div class="col-md-1 text-right"> <%= hsp.start+60*x %> </div>
                              <div class="col-md-8"> <%= hsp.hseq[60*x, 60] %> </div>
                              <div class="col-md-1 text-right"> <%= hsp.start+60*(x+1)-1 > hsp.send ? hsp.send : hsp.start+60*(x+1)-1 %> </div>
                            <% else %>
                              <div class="col-md-1 text-right"> <%= hsp.start+60*x %> </div>
                              <div class="col-md-8"> <%= hsp.hseq[60*x, 60] %> </div>
                              <div class="col-md-1 text-right"> <%= hsp.start-60*(x+1)+1 < hsp.send ? hsp.send : hsp.start-60*(x+1)-1 %> </div>
                            <% end %>
                          </div>
                          <br>
                        <% end %>
                      <% else %>
                        <div class="row alignment">
                          <div class="col-md-1"> Query </div>
                          <div class="col-md-1 text-right"> <%= hsp.qstart %> </div>
                          <div class="col-md-8"> <%= hsp.qseq %> </div>
                          <div class="col-md-1 text-right"> <%= hsp.qend %> </div>
                        </div>
                        <div class="row alignment">
                          <div class="col-md-1"></div>
                          <div class="col-md-1"></div>
                          <div class="col-md-8"> <%= hsp.midline %></div>
                          <div class="col-md-1"></div>
                        </div>
                        <div class="row alignment">
                          <div class="col-md-1"> Subject </div>
                          <div class="col-md-1 text-right"> <%= hsp.start %> </div>
                          <div class="col-md-8"> <%= hsp.hseq %> </div>
                          <div class="col-md-1 text-right"> <%= hsp.send %> </div>
                        </div>
                      <% end %>
                      <br><br>
                    </div>
                    <% end %>
                </div>
              </div>
            <% end %>
          <% end %>
          <br>
          <br>
          <strong class="text-monospace">Statistics</strong>
          <br>
          <p
            class="text-monospace">
            Lambda: <%= query.stats[5] %>
            <br>
            Kappa: <%= query.stats[4] %>
            <br>
            Entropy: <%= query.stats[6] %>
            <br>
            Effective search space used: <%= query.stats[3] %>
            <br>
            Databases: <%= report.querydb.split.map{|db| File.basename(db)}.join(', ') %>
            <br>
            No. of letters in database: <%= query.stats[1] %>
            <br>
            No. of sequences in database: <%= query.stats[0] %>
          </p>
        </div>
      </div>
    <% end %>
  </div>
</div>
