<!-- Optional hidden query sequence sent by the server -->
<input type="hidden" id="input_sequence" value="<%= @input_sequence %>">

<!-- We will initialise React on this div -->
<div id="view"></div>

<!-- JS -->
  <script src="sequenceserver-search.min.js?ver=<%= SequenceServer::VERSION %>"></script>

<!-- Markup for advanced options modal -->
<div
  class="modal fade" id="help"
  tabindex="-1">
  <div
    class="modal-dialog modal-lg">
    <div
      class="modal-content">
      <div
        class="modal-header">
        <h3>Advanced Options</h3>
      </div>
      <div
        class="modal-body">
          <div id="tblastn">
          <%= erb :tblastn_options %>
          </div>
          <div id="blastn">
          <%= erb :blastn_options %>
          </div>
          <div id="blastx">
          <%= erb :blastx_options %>
          </div>
          <div id="tblastx">
          <%= erb :tblastx_options %>
          </div>
          <div id="blastp">
          <%= erb :blastp_options %>
          </div>
      </div>
      
      <div
        class="modal-footer">
        <button
          type="button"
          class="btn btn-default btn-primary"
          data-dismiss="modal">
          Got it!
        </button>
      </div>
    </div>
  </div>
</div>
