<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xml:lang="en" lang="en" xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <title>SequenceServer</title>
    <meta name="author" content="Anurag Priyam" />
    <meta name="author" content="Yannick Wurm" />
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
<!--    <link rel="stylesheet" media="screen, projector" type="text/css" href="screen.css"/>
        <link rel="stylesheet" media="screen" type="text/css" href="master.css"/>  -->
  <style type="text/css">
    body {
      background: #3f4555;
      font-family: georgia, serif;
    }

    .container {
      width: 800px;  
      margin: 50px auto;
      background-color: #5b80bd;
      border-radius:10px;
    }

    .extra_container {  /* to grouypthings that are on a single line */
      width:100%;
    }
    .banner {
      background:black;
      font-size: 300%;
      font-family: georgia, serif; color: white;
      padding: 2%;

      border-bottom-left-radius: 0px;
      border-bottom-right-radius: 0px;
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
    }

    .entryfield {
      float:left; /* otherwise each div is under the next. */
      margin: 0 0 0 2%;
      clear:both;
      width:76%;
    }

    .entryfield textarea {
      width:100%;
    }

    .blastmethods {
      float:left;
      width:15%;
      background: #3f4555;
      border: none;
      margin: 0 2% 2% 0;
      border-top-right-radius:10px;
      border-top-left-radius:  0px;
      border-bottom-right-radius:10px;
      border-bottom-left-radius:  0px;
      font-size: 1.5em; font-family: georgia, serif; color: white;
    }
    .databases {
      width: 30%;
      background: #3f4555;
      border:none;
      margin: 2%;
      border-radius:10px;
      font-family: georgia, serif;
      color: white;
margin-top:0;
    }
    .nucleotide {
      clear:left;
      float:left;
    }
    .protein {
      position:relative;
     }

    .dbcheckbox {
       float:left;
       clear:both;
     }

    .dbdescription {
      float:left;
     }

    .submit_button {

     margin: 0;
	  text-align: right;
      padding: 2%;
    }
    .submit_button input {
	  background: #3f4555;
      border: 2px solid white;
      border-radius: 10px;
      color: white;
      padding: 1%;
      cursor: pointer;
      font-size: 1.5em;
      font-family: georgia, serif;
    }
   .submit_button input:active {
      color: #1f2126;
      border: 2px solid black;
   }

.advanced {
      background:#4a5d7f;
      border:none;
      color: white;
      clear:both;
      margin: 0 2% 0 2%;
      border-radius:10px;
    }

    h2 {
      font-family: georgia, serif;
      font-size: 20px;
    }
       </style>
  </head>

  <body> 
    <div class="container">
		<div class="banner" >BLAST Sequence(s)</div>	   
    <div class='extra_container'>
		<form method="post" action="/">
          <div class="entryfield">
			<textarea name="sequence" id="sequence" rows="10" cols="" placeholder="Paste your sequence(s) here..." ></textarea>
		  </div>
	      <fieldset class="blastmethods" >
 		    <div class="span-3">
       		  <input type="radio" name="method" value="blastp" id="blastp" class="span-1" title="Protein query; protein database."/>
        	  <label for="blastp" class="span-1" title="Protein query; protein database.">blastp</label>
  		    </div>
       	    <div class="span-3 clear">
       		  <input type="radio" name="method" value="tblastn" id="tblastn" class="span-1"  title="Protein query; six-frame translated nucleotide database." />
        	  <label for="tblastn" class="span-1" title="Protein query; six-frame translated nucleotide database.">tblastn</label>
 		    </div>
        	<div class="span-3 clear">
        	  <input type="radio" name="method" value="blastn" id="blastn" class="span-1" title="Nucleotide query; nucleotide database."/>
              <label for="blastn" class="span-1" title="Nucleotide query; nucleotide database.">blastn</label>
         	</div>
            <div class="span-3 clear">
              <input type="radio" name="method" value="blastx" id="blastx" class="span-1" title="Translated nucleotide query; protein database."/>
              <label for="blastx" class="span-1" title="Six-frame translated nucleotide query; protein database.">blastx</label>
			</div>
            <div class="span-3 clear">
              <input type="radio" name="method" value="tblastx" id="tblastx" class="span-1" title="Six-frame translated nucleotide query; six-frame translated nucleotide database"/>
              <label for="tblastx" class="span-1" title="Six-frame translated nucleotide query; six-frame translated nucleotide database">tblastx</label>
			</div>
          </fieldset>
       </div>
	   <div class='extra_container'>
          <fieldset class="nucleotide databases">
			<h2>Nucleotide databases</h2>
<!--			  <input type="checkbox" class="span-1 clear" id="fff" name="asdfsadfxz" value="fff"/>
			  <label for="fff" class="span-5 last">name placeholder 3</label>
	-->		

			<!--  Database list is actually dynamically loaded -->
		          <% SequenceServer.get_db(:nucleotide).each_with_index do |db, i| %>
                  <input type="checkbox" class="dbcheckbox" id="pdb<%=i%>" name="db[nucleotide][]" value="<%=i%>"/>
                  <label for="ndb<%=i%>" class="dbdescription"><%= SequenceServer.db_title(db) or SequenceServer.db_name(db)%></label>
                  <% end %>
          </fieldset>
			<fieldset class="protein databases">
			<h2>Protein databases</h2>	
<!--			  <input type="checkbox" class="span-1 clear" id="pdbasdf" name="asdfsadfxz" value="asdf"/>
    			  <label for="pdbasdf"   class="span-5 last">name placeholder</label>
	    		  <input type="checkbox" class="span-1 clear" id="ffpdbasdf" name="asdfsadfxz" value="asdf"/>
		     	  <label for="ffpdbasdf" class="span-5 last">name placeholder 2</label>
	-->		   
			<!--  Database list is actually dynamically loaded-->
                  <% SequenceServer.get_db(:protein).each_with_index do |db, i| %>
                  <input type="checkbox" class="dbcheckbox" id="pdb<%=i%>" name="db[protein][]" value="<%=i%>"/>
                  <label for="pdb<%=i%>" class="dbdescription"><%= SequenceServer.db_title(db) or SequenceServer.db_name(db)%></label>
                  <% end %>
          </fieldset>

	      <div class="submit_button">
            <input type="submit" value="Blast!"/>
          </div>
	</div>
          <fieldset class="advanced" >
            <h2>Advanced parameters (optional)</h2>
            <input type="text" name="advanced" id="advanced"/>
			<span class='small'>Info for advanced params (hidden by default)</span><pre style='font-size: 8px;'>
<!-- <%=        require 'cgi'
			CGI.escapeHTML %|
-evalue <Real>
   Expectation value (E) threshold for saving hits 
   Default = `10'
 -word_size <Integer, >=2>
   Word size for wordfinder algorithm
 -gapopen <Integer>
   Cost to open a gap
 -gapextend <Integer>
   Cost to extend a gap
 -matrix <String>
   Scoring matrix name (normally BLOSUM62)
 -threshold <Real, >=0>
   Minimum word score such that the word is added to the BLAST lookup table
 -comp_based_stats <String>
   Use composition-based statistics for blastp / tblastn:
       D or d: default (equivalent to 2)
       0 or F or f: no composition-based statistics
       1: Composition-based statistics as in NAR 29:2994-3005, 2001
       2 or T or t : Composition-based score adjustment as in Bioinformatics
   21:902-911,
       2005, conditioned on sequence properties
       3: Composition-based score adjustment as in Bioinformatics 21:902-911,
       2005, unconditionally
   For programs other than tblastn, must either be absent or be D, F or 0
   Default = `2'
 -num_descriptions <Integer, >=0>
   Number of database sequences to show one-line descriptions for
   Default = `500'
 -num_alignments <Integer, >=0>
   Number of database sequences to show alignments for
   Default = `250'
 *** Query filtering options
 -seg <String>
   Filter query sequence with SEG (Format: 'yes', 'window locut hicut', or
   'no' to disable)
   Default = `no'
 -soft_masking <Boolean>
   Apply filtering locations as soft masks
   Default = `false'
 -lcase_masking
   Use lower case filtering in query and subject sequence(s)?
 *** Restrict search or results
 -gilist <String>
   Restrict search of database to list of GI's
    * Incompatible with:  negative_gilist, seqidlist, remote, subject,
   subject_loc
 -seqidlist <String>
   Restrict search of database to list of SeqId's
    * Incompatible with:  gilist, negative_gilist, remote, subject,
   subject_loc
 -negative_gilist <String>
   Restrict search of database to everything except the listed GIs
    * Incompatible with:  gilist, seqidlist, remote, subject, subject_loc
 -entrez_query <String>
   Restrict search with the given Entrez query
    * Requires:  remote
 -db_soft_mask <String>
   Filtering algorithm ID to apply to the BLAST database as soft masking
    * Incompatible with:  subject, subject_loc
 -culling_limit <Integer, >=0>
   If the query range of a hit is enveloped by that of at least this many
   higher-scoring hits, delete the hit
    * Incompatible with:  best_hit_overhang, best_hit_score_edge
 -best_hit_overhang <Real, (>0 and <0.5)>
   Best Hit algorithm overhang value (recommended value: 0.1)
    * Incompatible with:  culling_limit
 -best_hit_score_edge <Real, (>0 and <0.5)>
   Best Hit algorithm score edge value (recommended value: 0.1)
    * Incompatible with:  culling_limit
 -max_target_seqs <Integer, >=1>
   Maximum number of aligned sequences to keep
|
%> -->
			</pre>
          </fieldset>
        </form>
      </div>
  </body>
</html>
