<!DOCTYPE html>
<html lang="en">
<head>
  <title>SequenceServer: Custom BLAST Server</title>
  <meta name="author" content="Anurag Priyam" />
  <meta name="author" content="Ben J. Woodcroft" />
  <meta name="author" content="Yannick Wurm" />
  <meta name="author" content="Cedric Wurm" />
  <meta name="description" content="Custom BLAST server provided by SequenceServer (http://www.sequenceserver.com)"/>
  <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
  <script type="text/javascript" src="<%= uri('/js/jquery.js') %>"></script>
  <script type="text/javascript" src="<%= uri('/js/jquery.ui.js') %>"></script>
  <script type="text/javascript" src="<%= uri('/js/jquery.enablePlaceholder.min.js') %>"></script>
  <script type="text/javascript" src="<%= uri('/js/jquery.activity.js') %>"></script>
  <script type="text/javascript" src="<%= uri('/js/jquery.scrollspy.js') %>"></script>
  <script type="text/javascript" src="<%= uri('/js/jquery.index.js') %>"></script>
  <script type="text/javascript" src="<%= uri('/js/bootstrap.dropdown.js') %>"></script>
  <script type="text/javascript" src="<%= uri('/js/sequenceserver.js') %>"></script>
  <script type="text/javascript" src="<%= uri('/js/sequenceserver.blast.js') %>"></script>

  <%# without a space after erb's closing tag, a / gets appended to css' path %>
  <link rel="stylesheet" media="screen" type="text/css" href="<%= uri('/css/bootstrap.min.css') %>" />
  <link rel="stylesheet" media="screen" type="text/css" href="<%= uri('/css/bootstrap.dropdown.css') %>" />
  <link rel="stylesheet" media="screen" type="text/css" href="<%= uri('/css/custom.css') %>" />
</head>

<body>
  <div class="container">
    <div class="page">
      <div class="page-header" id="banner">
        <h1>BLAST Sequence(s)</h1>
      </div>

      <form method="post" id="blast" action="<%= uri('/#result') %>">
        <div class="row">
          <div class="span16">
            <div class="offset-left offset-right">
              <div class="clearfix">
                <textarea name="sequence" id="sequence" rows="11" spellcheck="false" <%= 'autofocus="true"' unless @blast %> placeholder="Paste your sequence(s) here..." ></textarea>
              </div>
            </div>
          </div>
        </div>

        <br/>

        <div class="row">
          <div class="span8">
            <div class="offset-left box databases nucleotide">
              <div class="clearfix">
                <fieldset>
                  <legend>Nucleotide databases</legend>
                  <div class="controls offset-left">
                    <% settings.databases.values.select{|database| database.type == :nucleotide}.sort.each do |database| %>
                      <label class="checkbox">
                        <input type="checkbox" name="databases[]" value="<%=database.hash%>" data-type="<%=database.type%>" />
                        <span> <%= database.title or database.name %></span>
                      </label>
                    <% end %>
                  </div>
                </fieldset>
              </div>
            </div>
          </div>

          <div class="span8">
            <div class="offset-right box databases protein">
              <div class="clearfix">
                <fieldset>
                  <legend>Protein databases</legend>
                  <div class="controls offset-left">
                    <% settings.databases.values.select{|database| database.type == :protein}.sort.each do |database| %>
                      <label class="checkbox">
                        <input type="checkbox" name="databases[]" value="<%=database.hash%>" data-type="<%=database.type%>" />
                        <span> <%= database.title or database.name %></span>
                      </label>
                    <% end %>
                  </div>
                </fieldset>
              </div>
            </div>
          </div>
        </div>

        <br/>

        <div class="row">
          <div class="span12">
            <div class="offset-left box advanced">
              <div class="clearfix">
                <label for="advanced">Advanced Parameters:</label>
                <input class="span8" type="text" name="advanced" id="advanced" title="View, and enter advanced parameters." placeholder="eg: -evalue 1.0e-5 -num_alignments 100"/>
              </div>
  <pre class="help">
  <%= ERB::Util.h %q|
  -evalue <Real>
    Expectation value (E) threshold for saving hits
    Default = `10'
  -word_size <Integer, >=2>
    Word size for wordfinder algorithm
  -gapopen <Integer>
    Cost to open a gap
  -gapextend <Integer>
    Cost to extend a gap
  -matrix <String>
    Scoring matrix name (normally BLOSUM62)
  -threshold <Real, >=0>
    Minimum word score such that the word is added to the BLAST lookup table
  -comp_based_stats <String>
    Use composition-based statistics for blastp / tblastn:
        D or d: default (equivalent to 2)
        0 or F or f: no composition-based statistics
        1: Composition-based statistics as in NAR 29:2994-3005, 2001
        2 or T or t : Composition-based score adjustment as in Bioinformatics
    21:902-911,
        2005, conditioned on sequence properties
        3: Composition-based score adjustment as in Bioinformatics 21:902-911,
        2005, unconditionally
    For programs other than tblastn, must either be absent or be D, F or 0
    Default = `2'
  -num_descriptions <Integer, >=0>
    Number of database sequences to show one-line descriptions for
    Default = `500'
  -num_alignments <Integer, >=0>
    Number of database sequences to show alignments for
    Default = `250'
  *** Query filtering options
  -seg <String>
    Filter query sequence with SEG (Format: 'yes', 'window locut hicut', or
    'no' to disable)
    Default = `no'
  -soft_masking <Boolean>
    Apply filtering locations as soft masks
    Default = `false'
  -lcase_masking
    Use lower case filtering in query and subject sequence(s)?
  *** Restrict search or results
  -gilist <String>
    Restrict search of database to list of GI's
      * Incompatible with:  negative_gilist, seqidlist, remote, subject,
    subject_loc
  -seqidlist <String>
    Restrict search of database to list of SeqId's
      * Incompatible with:  gilist, negative_gilist, remote, subject,
    subject_loc
  -negative_gilist <String>
    Restrict search of database to everything except the listed GIs
      * Incompatible with:  gilist, seqidlist, remote, subject, subject_loc
  -entrez_query <String>
    Restrict search with the given Entrez query
      * Requires:  remote
  -db_soft_mask <String>
    Filtering algorithm ID to apply to the BLAST database as soft masking
      * Incompatible with:  subject, subject_loc
  -culling_limit <Integer, >=0>
    If the query range of a hit is enveloped by that of at least this many
    higher-scoring hits, delete the hit
      * Incompatible with:  best_hit_overhang, best_hit_score_edge
  -best_hit_overhang <Real, (>0 and <0.5)>
    Best Hit algorithm overhang value (recommended value: 0.1)
      * Incompatible with:  culling_limit
  -best_hit_score_edge <Real, (>0 and <0.5)>
    Best Hit algorithm score edge value (recommended value: 0.1)
      * Incompatible with:  culling_limit
  -max_target_seqs <Integer, >=1>
    Maximum number of aligned sequences to keep | %>
  </pre>
          </div>
        </div>

          <div class="span4">
            <div id="methods" class="btn-group">
              <button type="submit" class="span3 btn btn-large btn-primary" id="method"><span class="highlight"></span><span>blast</span><span class="highlight"></span></button>
              <button class="btn btn-primary btn-large dropdown-toggle" data-toggle="dropdown">
                <span class="caret"></span>
              </button>
              <ul class="dropdown-menu">
                <li></li>
              </ul>
            </div>
          </div>
        </div>
      </form>

      <div class="results">
        <div id="result">
          <%= @blast %>
        </div>
      </div>

      <div id="underbar">
        <p><strong><a href='http://www.sequenceserver.com'>
            <%=  [ "&copy; SequenceServer: BLAST search made easy!",
                   "Custom BLAST web interface by SequenceServer.",
                   "SequenceServer: Local BLAST with bespoke html interface.",
                   "Set up custom BLAST interface with SequenceServer.",
                   "Please cite: Priyam A, Woodcroft BJ, Wurm Y (<em>in prep</em>). " +
                   "Sequenceserver: BLAST searching made easy."
            ][rand(5)]
          %>
        </a></strong></p>
      </div>
    </div> <!-- /page -->
  </div> <!-- /container -->
</body>
</html>
