<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xml:lang="en" lang="en" xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <title>webBlast</title>
    <meta name="author" content="Anurag Priyam" />
    <meta name="author" content="Yannick Wurm" />
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
    <link rel="stylesheet" media="screen, projector" type="text/css" href="/css/screen.css"/>
    <link rel="stylesheet" media="screen" type="text/css" href="/css/master.css"/>
  </head>

  <body>
    <div class="container">
      <div class="body span-24">
		<span class="banner">BLAST Sequence(s)</span>	   
		<form method="post" action="/">
          <div class="span-14 first">
			<textarea name="sequence" id="sequence" rows="10" cols="" class="span-14"></textarea>
			<span class='quiet span-12'>Once we know if the sequence is prot or nuc, it could be stated here.</span>
		  </div>
	      <fieldset class="span-3 last" style="font-size: 1.5em">
 		    <div class="span-3">
       		  <input type="radio" name="method" value="blastp" id="blastp" class="span-1" title="Protein query; protein database."/>
        	  <label for="blastp" class="span-1" title="Protein query; protein database.">blastp</label>
  		    </div>
       	    <div class="span-3 clear">
       		  <input type="radio" name="method" value="tblastn" id="tblastn" class="span-1"  title="Protein query; six-frame translated nucleotide database." />
        	  <label for="tblastn" class="span-1" title="Protein query; six-frame translated nucleotide database.">tblastn</label>
 		    </div>
        	<div class="span-3 clear">
        	  <input type="radio" name="method" value="blastn" id="blastn" class="span-1" title="Nucleotide query; nucleotide database."/>
              <label for="blastn" class="span-1" title="Nucleotide query; nucleotide database.">blastn</label>
         	</div>
            <div class="span-3 clear">
              <input type="radio" name="method" value="blastx" id="blastx" class="span-1" title="Translated nucleotide query; protein database."/>
              <label for="blastx" class="span-1" title="Six-frame translated nucleotide query; protein database.">blastx</label>
			</div>
            <div class="span-3 clear">
              <input type="radio" name="method" value="tblastx" id="tblastx" class="span-1" title="Six-frame translated nucleotide query; six-frame translated nucleotide database"/>
              <label for="tblastx" class="span-1" title="Six-frame translated nucleotide query; six-frame translated nucleotide database">tblastx</label>
			</div>
          </fieldset>

          <fieldset class="span-6 clear">
			<legend>Protein databases</legend>	
                          <% BlastServer.get_db(:protein).each_with_index do |db, i| %>
 <input type="checkbox" class="span-1 clear" id="pdb<%=i%>" name="db[protein][]" value="<%=i%>"/>
                            <label for="pdb<%=i%>" class="span-5 last"><%= BlastServer.db_title(db) or BlastServer.db_name(db)%></label>
                          <% end %>
          </fieldset>
          <fieldset class="span-6">
			<legend>Nucleotide databases</legend>	
                          <% BlastServer.get_db(:nucleotide).each_with_index do |db, i| %>
 <input type="checkbox" class="span-1 clear" id="ndb<%=i%>" name="db[nucleotide][]" value="<%=i%>"/>
                            <label for="ndb<%=i%>" class="span-5 last"><%=BlastServer.db_title(db) or BlastServer.db_name(db)%></label>
                          <% end %>
          </fieldset>
          <fieldset class="span-24">
            <legend>Advanced parameters (optional)</legend>
            <input type="text" name="advanced" id="advanced" class="span-24"/>
			<span class='small'>Info for advanced params (hidden by default)</span><pre style='font-size: 8px;'>
<!-- <%=        require 'cgi'
			CGI.escapeHTML %|
-evalue <Real>
   Expectation value (E) threshold for saving hits 
   Default = `10'
 -word_size <Integer, >=2>
   Word size for wordfinder algorithm
 -gapopen <Integer>
   Cost to open a gap
 -gapextend <Integer>
   Cost to extend a gap
 -matrix <String>
   Scoring matrix name (normally BLOSUM62)
 -threshold <Real, >=0>
   Minimum word score such that the word is added to the BLAST lookup table
 -comp_based_stats <String>
   Use composition-based statistics for blastp / tblastn:
       D or d: default (equivalent to 2)
       0 or F or f: no composition-based statistics
       1: Composition-based statistics as in NAR 29:2994-3005, 2001
       2 or T or t : Composition-based score adjustment as in Bioinformatics
   21:902-911,
       2005, conditioned on sequence properties
       3: Composition-based score adjustment as in Bioinformatics 21:902-911,
       2005, unconditionally
   For programs other than tblastn, must either be absent or be D, F or 0
   Default = `2'
 -num_descriptions <Integer, >=0>
   Number of database sequences to show one-line descriptions for
   Default = `500'
 -num_alignments <Integer, >=0>
   Number of database sequences to show alignments for
   Default = `250'
 *** Query filtering options
 -seg <String>
   Filter query sequence with SEG (Format: 'yes', 'window locut hicut', or
   'no' to disable)
   Default = `no'
 -soft_masking <Boolean>
   Apply filtering locations as soft masks
   Default = `false'
 -lcase_masking
   Use lower case filtering in query and subject sequence(s)?
 *** Restrict search or results
 -gilist <String>
   Restrict search of database to list of GI's
    * Incompatible with:  negative_gilist, seqidlist, remote, subject,
   subject_loc
 -seqidlist <String>
   Restrict search of database to list of SeqId's
    * Incompatible with:  gilist, negative_gilist, remote, subject,
   subject_loc
 -negative_gilist <String>
   Restrict search of database to everything except the listed GIs
    * Incompatible with:  gilist, seqidlist, remote, subject, subject_loc
 -entrez_query <String>
   Restrict search with the given Entrez query
    * Requires:  remote
 -db_soft_mask <String>
   Filtering algorithm ID to apply to the BLAST database as soft masking
    * Incompatible with:  subject, subject_loc
 -culling_limit <Integer, >=0>
   If the query range of a hit is enveloped by that of at least this many
   higher-scoring hits, delete the hit
    * Incompatible with:  best_hit_overhang, best_hit_score_edge
 -best_hit_overhang <Real, (>0 and <0.5)>
   Best Hit algorithm overhang value (recommended value: 0.1)
    * Incompatible with:  culling_limit
 -best_hit_score_edge <Real, (>0 and <0.5)>
   Best Hit algorithm score edge value (recommended value: 0.1)
    * Incompatible with:  culling_limit
 -max_target_seqs <Integer, >=1>
   Maximum number of aligned sequences to keep
|
%> -->
			</pre>
          </fieldset>
          <div class="span-24 buttons">
            <input type="submit" value="BLAST!"/>
          </div>
        </form>
      </div>
	</div>
  </body>
</html>
