<!-- Optional hidden query sequence sent by the server -->
<input type="hidden" id="input_sequence" value="<%= @input_sequence %>">

<!-- We will initialise React on this div -->
<div id="view" class="my-6 container mx-auto max-w-screen-xl py-6"></div>

<!-- JS -->
<script src="sequenceserver-search.min.js?ver=<%= SequenceServer::VERSION %>"></script>

<!-- Markup for advanced options modal -->
<div class="relative">
  <dialog class="advanced-modal fixed p-4 w-full max-w-7xl bg-transparent focus:outline-none overflow-visible">
    <div class="relative flex flex-col rounded-lg bg-white shadow">
      <div class="flex items-start justify-between rounded-t border-b p-5">
        <h3 class="text-xl font-medium text-gray-900">
          Options
        </h3>
      </div>
      <div class="overflow-y-scroll max-h-96 bg-white px-4 pt-5 pb-4 sm:p-6 sm:pb-4">
        <div id="tblastn">
        <%= erb :tblastn_options %>
        </div>
        <div id="blastn">
        <%= erb :blastn_options %>
        </div>
        <div id="blastx">
        <%= erb :blastx_options %>
        </div>
        <div id="tblastx">
        <%= erb :tblastx_options %>
        </div>
        <div id="blastp">
        <%= erb :blastp_options %>
        </div>
      </div>
      <div class="bg-gray-50 px-4 py-3 sm:px-6 sm:flex sm:flex-row-reverse border-t">
        <button type="button" class="advanced-modal-close w-full inline-flex justify-center rounded-md border border-transparent shadow-sm px-4 py-2 bg-seqblue text-xl font-medium text-white hover:bg-seqorange focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-seqorange sm:ml-3 sm:w-auto sm:text-sm">
          Close
        </button>
      </div>
    </div>
  </dialog>
</div>
