<!DOCTYPE html>
<html lang="en">
<head>
  <title>SequenceServer: Custom BLAST Server</title>
  <meta name="author" content="Anurag Priyam" />
  <meta name="author" content="Ben J. Woodcroft" />
  <meta name="author" content="Yannick Wurm" />
  <meta name="author" content="Cedric Wurm" />
  <meta name="description" content="Custom BLAST server provided by SequenceServer (http://www.sequenceserver.com)"/>
  <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>

  <!--[if lt IE 9]>
      <script src="js/html5shiv.js"></script>
  <![endif]-->

  <%# without a space after erb's closing tag, a / gets appended to css' path %>
  <link rel="stylesheet" media="screen" type="text/css" href="<%= uri('/css/bootstrap.min.css') %>" />
  <link rel="stylesheet" media="screen" type="text/css" href="<%= uri('/css/font-awesome.min.css') %>" />
  <link rel="stylesheet" media="screen" type="text/css" href="<%= uri('/css/custom.css') %>" />
</head>

<body>
  <div
    class="navbar navbar-inverse" id="navbar">
    <div
      class="container">
      <a
        class="navbar-brand"
        href="http://sequenceserver.com" target="_blank">
        <i class="fa fa-magic"></i>
        SequenceServer
        <small>
          BLAST searching made easy!
        </small>
      </a>
    </div>
  </div>

  <div
    class="container">
    <noscript>
      <div
        class="nojs-error">
        <h3>SequenceServer can't work without JavaScript.</h3>
        <ul>
          <li>Please see if you can enable JavaScript in your browser's preferences.</li>
          <li>If your browser doesn't support JavaScript, please consider upgrading to the latest version or using Firefox or Chrome.</li>
        </ul>
      </div>
    </noscript>

    <form
      class="form-horizontal" id="blast"
      method="post" action="<%= uri('/#result') %>">
      <div
        class="page-header">
        <h2>BLAST <small>sequence(s)</small></h2>
      </div>

      <div class="form-group">
        <div class="col-md-12">
          <div
            class="sequence-controls hidden">
            <button
              type="button"
              class="btn btn-sm btn-default" id="btn-sequence-clear"
              title="Clear query sequence(s).">
              <i class="fa fa-times"></i>
            </button>
          </div>
          <textarea
            class="form-control text-monospace" name="sequence" id="sequence"
            rows="10"
            autofocus="true"
            spellcheck="false"
            placeholder="Paste your sequence(s) here..." ></textarea>
        </div>
      </div>

      <div
        class="notifications">
        <div
          class="notification"
          id="nucleotide-sequence-notification"
          style="display: none;">
          <div
            class="alert-info col-md-6 col-md-offset-3">
            Detected: nucleotide sequence(s).
          </div>
        </div>

        <div
          class="notification"
          id="protein-sequence-notification"
          style="display: none;">
          <div
            class="alert-info col-md-6 col-md-offset-3">
            Detected: protein sequence(s).
          </div>
        </div>

        <div
          class="notification"
          id="mixed-sequence-notification"
          style="display: none;">
          <div
            class="alert-danger col-md-10 col-md-offset-1">
            Detected: mixed nucleotide and protein sequences. We can't handle that. Please try one sequence at a time.
          </div>
        </div>
      </div>

      <div
        class="form-group databases-container">
        <%# sort => same ordering of nucleotide and protein datbases %>
        <% databases.keys.sort.each do |type| %>
          <div
            class="<%= databases[(databases.keys - [type]).first] ? 'col-md-6' : 'col-md-12' %>">
            <div
              class="panel panel-default">
              <div
                class="panel-heading">
                <h4><%= type.capitalize %> databases</h4>
              </div>
              <ul
                class="list-group databases <%= type %>">
                <% databases[type].sort_by(&:title).each do |database| %>
                  <li class="list-group-item">
                    <label>
                      <input type="checkbox" name="databases[]" value="<%=database.id%>" data-type="<%=database.type%>" />
                      <%= database.title or database.name %>
                    </label>
                  </li>
                <% end %>
              </ul>
            </div>
          </div>
        <% end %>
      </div>

      <div
        class="form-group">
        <div
          class="col-md-8">
          <div
            class="form-group advanced">
            <label
              class="col-md-3 control-label"
              for="advanced">
              Advanced Parameters:
            </label>
            <div
              class="col-md-9 input-group">
              <input
                type="text"
                class="form-control" name="advanced" id="advanced"
                title="View, and enter advanced parameters."
                placeholder="eg: -evalue 1.0e-5 -num_alignments 100"/>
                <div class="input-group-addon" data-toggle="modal" data-toggle="modal" data-target="#help">
                  <i class="fa fa-question"></i>
                </div>
            </div>
          </div>
        </div>

        <div
          class="col-md-4">
          <div
            class="form-group">
            <div
              class="col-md-12">
              <div
                id="methods">
                <button
                  type="submit"
                  id="method" class="btn btn-default"
                  disabled="disabled">
                  blast
                </button>
                <button
                  class="btn btn-default dropdown-toggle"
                  style="display: none;"
                  data-toggle="dropdown">
                  <span class="caret"></span>
                </button>
                <ul
                  class="dropdown-menu">
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </form>

    <div
      class="result" id="result"
      style="display: none;">
    </div>
  </div> <!-- /container -->

  <div
    class="footer" id="footer">
    <hr>
    <p
      class="text-center">
      <a
        href='http://www.sequenceserver.com'>
        <%=
          quote = [
            "Custom BLAST web interface by SequenceServer.",
            "SequenceServer: Local BLAST with bespoke html interface.",
            "Set up custom BLAST interface with SequenceServer."
          ][rand(3)]
        %>
      </a>
      <a
        class="twitter-share-button"
        href="https://twitter.com/share"
        data-url="http://www.sequenceserver.com" data-text="<%= quote %>" data-via="yeban" data-size="large" data-hashtags="bioinformatics">
        Tweet
      </a>
      <%#<div class="g-plusone" data-annotation="none" data-href="http://www.sequenceserver.com"></div>%>

      <br>

      <a
        href='http://www.sequenceserver.com'>
        Please cite: Priyam A, Woodcroft BJ, Wurm Y, "SequenceServer: BLAST searching made easy (<em>in preparation</em>)" &
      </a>
      <br>
      <a
        href="http://www.ncbi.nlm.nih.gov/entrez/query.fcgi?db=PubMed&amp;cmd=Re
        trieve&amp;list_uids=9254694&amp;dopt=Citation">
        Camacho et al, "BLAST+: architecture and applications", BMC Bioinformatics 10:421.
      </a>
    </p>
  </div>

  <div
    id="fasta"
    class="modal fade"
    tabindex="-1">
  </div> <!-- fasta -->

  <div
    id="error"
    class="modal fade"
    tabindex="-1">
  </div> <!-- error -->

  <div
    class="modal fade" id="error-no-response">
    <div
      class="modal-dialog">
      <div
        class="modal-content">
        <div
          class="modal-header">
          <h3>Server didn't respond</h3>
        </div>

        <div
          class="modal-body">
          <p>
            Could be a temporary network issue, or the service might be
            configured to "time out" long requests.
          </p>

          <p>
            Please try again
            later, or report to the admin or <a
              href="https://groups.google.com/forum/?fromgroups#!forum/sequenceserver">SequenceServer
              Google Group</a> (if you are the admin) if problem persists.
          </p>
        </div>

        <div
          class="modal-footer">
          <button class="btn btn-danger" data-dismiss="modal">Okay</button>
        </div>
      </div>
    </div>
  </div> <!-- error-no-response -->

  <div
    class="modal fade" id="help"
    tabindex="-1">
    <div
      class="modal-dialog modal-lg">
      <div
        class="modal-content">
        <div
          class="modal-header">
          <h3>Advanced Options</h3>
        </div>
        <div
          class="modal-body">
          <%= erb :_options %>
        </div>
        <div
          class="modal-footer">
          <button
            class="btn btn-default btn-primary"
            data-dismiss="modal">
            Got it!
          </button>
        </div>
      </div>
    </div>
  </div> <!-- advanced options -->

  <div
    class="modal" id="spinner"
    tabindex="-1"
    data-backdrop="static" data-keyboard="false">
    <div
      class="modal-dialog">
      <div
        class="modal-content">
        <div
          class="modal-body text-center">
          <h2>
            BLAST-ing ...
          </h2>
          <i class="fa fa-spinner fa-5x fa-spin"></i>
          <p>
            <br>
            This could take some time depending on the size of your query and
            database.
          </p>
        </div>
      </div>
    </div>
  </div> <!-- spinner -->

  <!-- JS -->
  <script type="text/javascript" src="<%= uri('/js/jquery.js') %>"></script>
  <script type="text/javascript" src="<%= uri('/js/jquery-ui.js') %>"></script>
  <script type="text/javascript" src="<%= uri('/js/bootstrap.min.js') %>"></script>
  <script type="text/javascript" src="<%= uri('/js/d3.v3.min.js') %>"></script>
  <script type="text/javascript" src="<%= uri('/js/jquery.enablePlaceholder.min.js') %>"></script>
  <script type="text/javascript" src="<%= uri('/js/jquery.scrollspy.js') %>"></script>
  <script type="text/javascript" src="<%= uri('/js/sequenceserver.js') %>"></script>
  <script type="text/javascript" src="<%= uri('/js/sequenceserver.blast.js') %>"></script>
  <script type="text/javascript" src="<%= uri('/js/jquery.t.js') %>"></script>

  <!-- twitter -->
  <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
</body>
</html>
